<!-- Header -->
<header>
    <div class="menu-horizontal">
        <div class="btn-exp">
            <i class="bi bi-list" id="btn-ex"></i>
            <h1>
                <a href="#">Curso em Vídeo</a>
            </h1>
        </div>
        <nav>
            <ul>
                <li>            
                    <div class="search-box">
                        <input type="text" class="search-text" placeholder="Pesquisar...">
                        <a class="search-btn" href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" class="a-horizontal">
                        <i class="bi bi-cart cart1"></i>
                        <i class="bi bi-cart-fill cart2"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="a-horizontal">
                        <i class="bi bi-heart he1"></i>
                        <i class="bi bi-heart-fill he2"></i>
                    </a>
                </li>
                <li class="menu-hover">
                    <a href="#" class="a-horizontal">
                        <div class="img-user">
                            <img src="Group 5.png" alt="Foto de perfil">
                        </div>
                    </a>
                    <div class="menu-suspeso">
                        <div class="info-conteudo">
                            <a href="#">
                                <div class="info-img">
                                    <img src="Group 5.png" alt="Foto de perfil">
                                </div>
                                <div class="info-text">
                                    <h3>Eros Netto Antunes</h3>
                                    <p>erosnettoantunes@gmail.com</p>
                                </div>
                            </a>
                        </div>
                        <hr>
                        <ul>
                            <li><a href="#">Meu Perfil</a></li>
                            <li><a href="#">Meu Carrinho</a></li>
                            <li><a href="#">Lista de desejos</a></li>
                            <li><a href="#">Configurações da Conta</a></li>
                            <li><a href="#">Histórico de compras</a></li>
                            <li><a href="#">Sair</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Menu lateral -->
<aside>
    <nav class="menu-lateral">
        <ul>
            <li class="item-menu ativo">
                <a href="#">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="text-link">Inicio</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-person-circle"></i></span>
                    <span class="text-link">Perfil</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-folder"></i></span>
                    <span class="text-link">Cursos</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-gear"></i></span>
                    <span class="text-link">Configuração</span>
                </a>
            </li>            
        </ul>
    </nav>
</aside>